@font-face {
    font-family: "Proxima Nova";
    src: url("../assets//fonts/ProximaNova-Regular.otf");
}

body {
    font-family: "Proxima Nova";
    overflow-x: hidden;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

span {
    color: #FB3A7F;
}
