#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    height: 70px;
}

#nav-home-icon {
    display: flex;
}

#nav-home-icon h1 {
    font-size: 22px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 1px;
    color: #000;
}

#nav-option {
    display: flex;
}

.nav-option-link {
    margin: 0 50px;
    font-size: 16px;
    color: #000;
}

.nav-option-link-active {
    color: #2179ED;
}

#nav-login {
    display: flex;
    font-size: 14px;
    align-items: center;
}

#login {
    margin-right: 20px;
    color: #2179ED;
}

#register {
    background-color: #2179ED;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}