#demo {
    text-align: center;
}

#demo-title {
    margin-top: 200px;
}

#demo-title h1 {
    font-size: 37px;
    font-weight: normal;
}

#demo-subtitle {
    width: 500px;
    margin: auto;
    margin-top: 30px;
}

#demo-subtitle h2 {
    font-size: 18px;
    font-weight: normal;
    color: #656C74;
}

#demo-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#demo-ask {
    width: 250px;
    padding: 10px 0;
    margin: 0 10px;
    border: 2px solid #2179ED;
    background-color: #2179ED;
    border-radius: 5px;
}

#demo-ask a{
    font-weight: bold;
    color: #fff;
}