#download {
    height: 700px;
}

#downlaod-app {
    margin-top: 200px;
    position: absolute;
    left: -146.35107421875px;
    width: 150%;
    height: 400px;
    transform: matrix(1, -0.07, 0.07, 1, 0, 0);
    background: transparent linear-gradient(180deg, #FA4074 0%, #FB3A7F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

#downlaod-app-background {
    position: relative;
    top: -30px;
    left: -146.35107421875px;
    width: 120%;
    height: 450px;
    transform: matrix(0.8, 0.03, 0.07, 1, 0, 0);
    background: transparent linear-gradient(180deg, #FA4074 0%, #FB3A7F 100%) 0% 0% no-repeat padding-box;
    opacity: 0.3;
}

#downlaod-app-container {
    left: 0;
    width: 100%;
    margin-top: 80px;
    position: absolute;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#downlaod-app-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 100px;
    margin-top: 50px;
}

#downlaod-app-left h3 {
    font-size: 45px;
    color: #fff;
}

#downlaod-app-left p {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    opacity: 0.9;
}

#downlaod-app-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.download-app-img {
    width: 150px;
}

#download-app-img-ios {
    margin-left: 10px;
}

#iphone-template {
    width: 300px;
    background-image: linear-gradient(10deg, rgba(63, 63, 63, 0.219) 5%, transparent 5%);
    box-shadow: -30px 30px 20px rgba(63, 63, 63, 0.219);
}