#intro {
    text-align: center;
}

#intro-title {
    margin-top: 120px;
}

#intro-title h1 {
    font-size: 37px;
    font-weight: normal;
}

#intro-subtitle {
    width: 500px;
    margin: auto;
    margin-top: 30px;
}

#intro-subtitle h2 {
    font-size: 18px;
    font-weight: normal;
    color: #656C74;
}

#intro-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#intro-video {
    width: 200px;
    padding: 10px 0;
    margin: 0 10px;
    border: 2px solid #2179ED;
    border-radius: 5px;
}

#intro-start {
    width: 200px;
    padding: 10px 0;
    margin: 0 10px;
    border: 2px solid #2179ED;
    background-color: #2179ED;
    border-radius: 5px;
}

#intro-video a {
    font-weight: bold;
    color: #2179ED;
}

#intro-start a{
    font-weight: bold;
    color: #fff;
}