#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3A4048;
    margin-top: 150px;
    height: 150px;
}

#footer-home-icon {
    display: flex;
}

#footer-home-icon h1 {
    font-size: 22px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 1px;
    color: #fff;
}

#footer-option {
    display: flex;
}

.footer-option-link {
    margin: 0 50px;
    font-size: 16px;
    color: #fff;
}